[submodule "CMSSW/src/CMGTools/External"]
	path = CMSSW/src/CMGTools/External
	url = https://github.com/latinos/UserCode-CMG-CMGTools-External
[submodule "CMSSW/src/AnalysisModules"]
	path = CMSSW/src/AnalysisModules
	url = https://github.com/jpata/AnalysisModules
[submodule "CMSSW/src/UserCode/TTHBBPAT"]
	path = CMSSW/src/UserCode/TTHBBPAT
	url = git@github.com:jpata/tth-pfbreco.git
